@import '../../styles/constants.scss';

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }
}

.Spinner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $icon_outline_secondary;
}

.Spinner > .Spinner__self {
  animation: rotator 500ms linear infinite;
  transform-origin: center;
}

.Spinner > .Spinner__self > svg {
  transform: scale(1);
}