/* Colors */
$primary_bg: #9cdc39;
$hover_primary_bg: #b0e959;
$primary_color: black;
$active_primary_bg: #bff56d;

$secondary_bg: rgb(173, 173, 173);
$hover_secondary_bg: rgb(190, 190, 190);
$active_secondary_bg: rgb(202, 202, 202);
$secondary_color: black;

$icon_outline_secondary: #f44336;
