@import './constants.scss';
@import './ui.scss';
@import './fonts.scss';
@import './panels.scss';

html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}