.game-panel {
  width: 100vw;
  height: 100vh;
  background: #607d8b;

  & > .interface {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > .status-bar {
      height: 30px;
      width: 200px;
      background: white;
      border-radius: 10px;
      overflow: hidden;

      & > .fill-bar {
        background: #f44336;
        height: 100%;
      }
    }

    & > .timer {
      width: 40px;
      height: 30px;
      margin-left: 10px;
      border-radius: 10px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #dedede;
    }
  }

  & > canvas {
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    height: calc(100% - 40px);
  }
}

.end-game {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25pt;
}

.before-start {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25pt;
  background: white;
}