.game-panel {
  width: 100vw;
  height: 100vh;
  background: #607d8b;

  & > .interface {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > .status-bar {
      height: 30px;
      width: 200px;
      background: white;
      border-radius: 10px;
      overflow: hidden;

      & > .fill-bar {
        background: #f44336;
        height: 100%;
      }
    }
  }

  & > canvas {
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    height: calc(100% - 40px);
  }
}