.game-panel {
  width: 100vw;
  height: 100vh;
  background: #607d8b;

  & > .interface {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > .status-bar {
      height: 30px;
      width: 200px;
      background: white;
      border-radius: 10px;
      overflow: hidden;

      & > .fill-bar {
        background: #f44336;
        height: 100%;
      }
    }

    & > .timer {
      width: 40px;
      height: 30px;
      margin-left: 10px;
      border-radius: 10px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #dedede;
    }
  }

  & > canvas {
    position: fixed;
    left: 0;
    top: 40px;
    width: 100%;
    height: calc(100% - 40px);
  }
}

.end-game {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25pt;

  & > h1 {
    margin-bottom: 100px;
  }
}

.before-start-wrapper {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25pt;
  background: #fff3;

  & > .before-start {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px 30px;

    & > .timer {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    & > .description {
      box-sizing: border-box;
      background: #000c;
      border-radius: 7px;
      padding: 10px;
      color: white;

      & > h3 {
          text-align: center;
          margin: 20px 0;
          font-size: 20pt;

          @media (max-width: 700px) {
            font-size: 17pt;
          }

          @media (max-width: 420px) {
            font-size: 14pt;
            margin: 10px 0;
          }
      }

      & > .descr-text {
        margin-top: 10px;
        margin-bottom: 7px;
        font-size: 16pt;
        float: left;
        
        @media (max-width: 700px) {
          font-size: 13pt;
        }

        @media (max-width: 420px) {
          font-size: 10pt;
        }
      }
    }
  }
}

h1 {
  font-size: 2rem;

  @media (max-width: 700px) {
    font-size: 1.5rem;
  }

  @media (max-width: 450px) {
    font-size: 1.2rem;
  }
}